.ul_pc_1{
	width: 100%;
	height: 60px;
	
}
.li_pc_1{
	width: 100%;
	height: 60px;
	position: relative;
	z-index: 99;
	padding-top:5px;
}
.li_pc_1 div{
	cursor: pointer;
}
.li_pc_1 h3{
	cursor: pointer;
}
.ul_pc_2{
	padding: 10px;
	position: fixed;
	display: none;
	z-index: 1000;
	width: 300px;
	background-color:transperent;
	background-color:white;
	border:1px solid #cacccb;
	margin-top:5px;
	top:83px;
}

.li_pc_2{
	cursor: pointer;
	float: left;
	margin:10px 30px 5px 17px;
}
.li_pc_2 h4{
	color: #606060;
	font-weight:normal;
	font-family:"Î¢ÈíÑÅºÚ";
	font-size:12px;
}
.pc1_active{
	background-color: white;
	background: url("../images/nav_bg.png") top center no-repeat;
}
.liActive{
	background: url("../images/nav_bg.png") top center no-repeat;
}
.bg_wrapper ,.bg_wrapper2{
	display:none;
	
}

.pc1_active  .bg_wrapper{
	width: 75px;
	display:block;
	height:9px;
	background: url("../images/jiantou.gif") center center no-repeat;
	position:fixed;
	z-index: 2000;
	margin-top:-3px;
	top:90px;
	
}
.pc1_active  .bg_wrapper2{
	width: 75px;
	display:block;
	height:9px;
	background: url("../images/jiantouTwo.png") center center no-repeat;
	position:fixed;
	z-index: 2000;
	margin-top:-3px;
	top:83px;
}
.pc_1_selected{
	background: url("../images/nav_bg.png") top center no-repeat;
}
.pc_2_selected{
	background: url("../images/nav_bg.png") top center no-repeat;
}
